*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat' sans-serif;
    background-color: rgb(255, 251, 248);
    color: rgb(64, 64, 64);
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
h2 {
    color: rgb(87, 113, 136)
}
.header {
    margin-bottom: 34px;
}
.header-information {
    display: flex;
    align-items: center;
    gap: 16px;
    background: url('../images/background.png') no-repeat center center scroll;
    background-size: flex;
    background-repeat: no-repeat;
    width: 100%;
}
.header h2 {
    color: rgb(87, 113, 136);
}
.nav {
    display: flex;
    gap: 18px;
    justify-content: space-evenly;
    margin: auto;
    padding: 12px 24px 12px 24px;
    width: 100%;
    background-color: rgb(75, 92, 107);
}
.nav a {
    flex-shrink: 0;
    color: rgb(39, 39, 46);
    padding: 4px;
    background-color: rgb(215, 250, 250);
    border-radius: 5px;
    border: 2px solid rgb(215, 250, 250);
    cursor: pointer;
    font-style: italic;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 1px rgb(39, 39, 46);
}
.nav a:hover,.nav a:focus {
    background-color: rgb(223, 241, 241);
    border: 2px solid rgb(88, 134, 134);
    
}
.nav a:active {
    background-color: rgb(252, 157, 157);
    border: 2px solid rgba(252, 157, 157, 0.507);
}
.name-info {
    text-align: left;
}
.photo {
    border-radius: 32px;
    box-sizing: border-box;
    margin-top: 34px;
    margin-left: 34px;
    margin-right: 34px;
    max-width: 100%;
   }
address {
    line-height: 1.5;
}
.address-tell:hover, .address-mail:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: red;
}
#ОБРАЗОВАНИЕ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
.ed_div {
    margin-left: 24px;
}
.university_logo {
    height: 64px;
    padding: 4px;
}
.university_logo:hover{
    background-color: rgb(240, 255, 248);
    padding: 4px;
    border: 3px solid rgb(64, 145, 108);
}
#ОПЫТ_РАБОТЫ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
.jobs_div {
    margin-left: 24px;
}
.jobs  li {
    font-size: 16px;
}
.beltimport {
    display: flex;
}    
.Beltimport_Logo {
    background-color: rgb(110, 104, 104);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 4px;
    margin-left: 34px;
}
.Beltimport_Logo:hover {
    background-color: rgb(100, 81, 81);
    border: 3px solid rgb(136, 22, 51);
}
.adept-group {
    display: flex;
}
.adept-group-logo {
    border-radius: 10px;
    margin-left: 34px;
    
}
.adept-group-logo:hover {
    border: 3px solid rgb(9, 75, 47);
    box-sizing: border-box;
}
.zeo {
    display: flex;
}
.zeo-logo {
    margin-left: 34px;
    border-radius: 10px;
}
.zeo-logo:hover {
    border: 3px solid rgb( 255, 218, 34);
    box-sizing: border-box;
}
#ПРОФЕССИОНАЛЬНЫЕ_НАВЫКИ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
.profesional_div {
    margin-left: 24px;
}
#ЛИЧНЫЕ_КАЧЕСТВА {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
.personal_div {
    margin-left: 24px;
}
#ДОПОЛНИТЕЛЬНАЯ_ИНФОРМАЦИЯ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
.infor_div {
    margin-left: 24px;
}
#СОЦИАЛЬНЫЕ_СЕТИ {
    background-color: rgb(87, 113, 136);
}
#СОЦИАЛЬНЫЕ_СЕТИ a {
    padding: 24px 14px;
}
footer {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    padding: 4px 0;
    background-color: rgb(87, 113, 136);
}
footer a img {
    transition: transform 0.3s;
}

footer a:hover img {
    transform: scale(1.1);
}