*,
* ::before,
* ::after {
    box-sizing: border-box;
}
body {
    margin-left: 0;
    margin-right: 0;
    font-family: 'Montserrat';
    background-color: rgb(255, 251, 248);
    color: rgb(64, 64, 64);
    display: block;
}
h2 {
    color: rgb(87, 113, 136)
}
.header {
    margin-bottom: 34px;
}
.header-information {
    display: flex;
}
.header h2 {
    color: rgb(87, 113, 136);
}
.nav {
    margin: auto;
    padding: 12px 24px 12px 24px;
    width: 100%;
    background-color: rgb(75, 92, 107);
}
.nav a {
    color: rgb(39, 39, 46);
    margin-left: 24px;
    background-color: rgb(215, 250, 250);
    border-radius: 5px;
    border: 2px solid rgb(215, 250, 250);
    cursor: pointer;
    font-style: italic;
    font-family: 'Noto+Serif';
    text-decoration: none;
    text-shadow: 0.5px 0.5px 1px black;
}
.nav a:hover,.nav a:focus {
    background-color: rgb(223, 241, 241);
    border: 2px solid rgb(88, 134, 134);
    
}
.nav a:active {
    background-color: rgb(252, 157, 157);
    border: 2px solid rgba(252, 157, 157, 0.507);
}
.name-info {
    box-sizing: border-box;
    text-align: left;
}
.photo {
    border-radius: 32px;
    box-sizing: border-box;
    margin-top: 34px;
    margin-left: 34px;
    margin-right: 34px;
   }
address {
    line-height: 1.5;
}
.address-tell:hover, .address-mail:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: red;
}
#ОБРАЗОВАНИЕ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
.university_logo {
    height: 64px;
    padding: 4px;
}
.university_logo:hover{
    background-color: rgb(155, 253, 209);
    padding: 4px;
    border: 3px solid rgb(64, 145, 108);
}
#ОПЫТ_РАБОТЫ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
.jobs  li {
    font-size: 16px;
}
.beltimport {
    display: flex;
}    
.Beltimport_Logo {
    background-color: rgb(110, 104, 104);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 4px;
    margin-left: 34px;
}
.Beltimport_Logo:hover {
    background-color: rgb(100, 81, 81);
    border: 3px solid rgb(136, 22, 51);
}
.adept-group {
    display: flex;
}
.adept-group-logo {
    border-radius: 10px;
    margin-left: 34px;
    
}
.adept-group-logo:hover {
    border: 3px solid rgb(9, 75, 47);
    box-sizing: border-box;
}
.zeo {
    display: flex;
}
.zeo-logo {
    margin-left: 34px;
    border-radius: 10px;
}
.zeo-logo:hover {
    border: 3px solid rgb( 255, 218, 34);
    box-sizing: border-box;
}
#ПРОФЕССИОНАЛЬНЫЕ_НАВЫКИ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
#ПРОФЕССИОНАЛЬНЫЕ_НАВЫКИ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
#ЛИЧНЫЕ_КАЧЕСТВА {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
#ДОПОЛНИТЕЛЬНАЯ_ИНФОРМАЦИЯ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
#СОЦИАЛЬНЫЕ_СЕТИ {
    background-color: rgb(87, 113, 136);
}
#СОЦИАЛЬНЫЕ_СЕТИ a {
    padding: 24px 14px;
}