body {
    font-family: 'Montserrat';
    background-color: antiquewhite;
}
.header-information {
    display: flex;
}
.nav {
    background-color: bisque;
    margin: auto;
    box-sizing: border-box;
    padding: 12px 24px 12px 24px;
}
.nav a {
    color: rgb(35, 35, 35);
    margin-left: 24px;
    background-color: rgb(215, 250, 250);
    border-radius: 5px;
    border: 2px solid rgb(215, 250, 250);
    cursor: pointer;
    font-style: italic;
    font-family: 'Noto+Serif';
    text-decoration: none;
    text-shadow: 0.5px 0.5px 1px black;
}
.nav a:hover,.nav a:focus {
    background-color: rgb(223, 241, 241);
    border: 2px solid rgb(88, 134, 134);
    
}
.nav a:active {
    background-color: rgb(252, 157, 157);
    border: 2px solid rgba(252, 157, 157, 0.507);
}
.name-info {
    box-sizing: border-box;
    background-color: beige;
    text-align: center;
}
.photo {
    border-radius: 32px;
    box-sizing: border-box;
    margin-top: 34px;
    margin-left: 34px;
    margin-right: 34px;
   }
address {
    line-height: 1.5;
}
.address-tell:hover, .address-mail:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: red;
}
.jobs  li {
    background-color: beige;
}
.university_logo {
    height: 40px;
    padding: 4px;
    border: 3px solid rgba(0, 0, 0, 0);
}
.university_logo:hover{
    background-color: rgb(155, 253, 209);
    padding: 4px;
    height: 40px;
    border: 3px solid rgb(64, 145, 108);
}
.beltimport {
    display: flex;
}    
.Beltimport_Logo {
    background-color: rgb(110, 104, 104);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 4px;
    margin-left: 34px;
}
.Beltimport_Logo:hover {
    background-color: rgb(100, 81, 81);
    border: 3px solid rgb(136, 22, 51);
}
.adept-group {
    display: flex;
}
.adept-group-logo {
    border-radius: 10px;
    margin-left: 34px;
    
}
.adept-group-logo:hover {
    border: 3px solid rgb(9, 75, 47);
    box-sizing: border-box;
}
.zeo {
    display: flex;
}
.zeo-logo {
    margin-left: 34px;
    border-radius: 10px;
}
.zeo-logo:hover {
    border: 3px solid rgb( 255, 218, 34);
    box-sizing: border-box;
}