*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat' sans-serif;
    background-color: rgb(255, 251, 248);
    color: rgb(64, 64, 64);
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h2 {
    color: rgb(87, 113, 136)
}

/*END OF GLOBAL RULES*/

.header-information {
    display: flex;
    align-items: center;
    gap: 16px;
    background: linear-gradient(to bottom, rgba(255, 251, 248, 0.05), rgba(255, 251, 248, 0.05)), url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.header h1 {
    margin: 0;
}

.header h2 {
    color: rgb(87, 113, 136);
    margin: 0;
    margin-top: 12px;
}

.nav {
    display: flex;
    gap: 18px;
    justify-content: space-evenly;
    margin: auto;
    padding: 12px 24px 12px 24px;
    width: 100%;
    background-color: rgb(75, 92, 107);
}

.nav a {
    flex-shrink: 0;
    color: rgb(39, 39, 46);
    padding: 4px;
    background-color: rgb(255, 251, 248);
    border-radius: 5px;
    border: 2px solid rgb(75, 92, 107);
    cursor: pointer;
    font-style: italic;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 1px rgb(39, 39, 46);
}

.nav a:hover,.nav a:focus {
    background-color: rgb(223, 241, 241);
    border: 2px solid rgb(88, 134, 134);
    
}

.nav a:active {
    background-color: rgb(252, 157, 157);
    border: 2px solid rgba(252, 157, 157, 0.507);
}

.name-info {
    text-align: left;
    background-color: rgb(255, 251, 248);
    padding: 12px 24px;
    border: 2px solid rgb(87, 113, 136);
    border-radius: 12px;
    margin-left: 64px;
}

.name-info h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
}

.name-info h2::after,  .name-info h2::before {
    content: "";
    background-color: rgb(87, 113, 136);
    width: 36px;
    height: 2px;
}

.photo {
    border-radius: 32px;
    border: 2px solid rgb(87, 113, 136);
    box-sizing: border-box;
    box-shadow: inset 1px 1px 2px 1px rgb(87, 113, 136), 5px 5px 16px 1.5px rgb(87, 113, 136), 10px 10px 32px 3px rgb(64, 145, 108) ;
    margin: 32px 0px 32px 32px;
    max-width: 100%;
   }

address {
    line-height: 1.5;
    margin-top: 12px;
}

.address-tell:hover, .address-mail:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: red;
}

/*END OF HEADER*/

#ОБРАЗОВАНИЕ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}

.ed_div {
    margin: 24px;
}

.ed_div h2, .ed_div h3, .ed_div p {
    margin: 0 0 12px 0;
}

.university_logo {
    height: 64px;
    padding: 4px;
}

.university_logo:hover{
    background-color: rgb(240, 255, 248);
    padding: 4px;
    border: 3px solid rgb(64, 145, 108);
}

#ОПЫТ_РАБОТЫ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}

.jobs_div {
    margin-left: 24px;
}

.jobs_div h2 {
    margin-top: 24px;
    margin-bottom: 24px; 
}

.jobs> li:not(:last-child) {
    font-size: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgb(87, 113, 136);
}

.jobs h3 {
    margin-top: 12px;
    margin-bottom: 24px;
}

.jobs p {
    margin: 0;
}

.jobs li ul {
    margin-bottom: 8px;
}

.beltimport {
    display: flex;
}    
.Beltimport_Logo {
    background-color: rgb(110, 104, 104);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 4px;
    margin-left: 34px;
}
.Beltimport_Logo:hover {
    background-color: rgb(100, 81, 81);
    border: 3px solid rgb(136, 22, 51);
}
.adept-group {
    display: flex;
}
.adept-group-logo {
    border-radius: 10px;
    margin-left: 34px;
    
}
.adept-group-logo:hover {
    border: 3px solid rgb(9, 75, 47);
    box-sizing: border-box;
}
.zeo {
    display: flex;
}
.zeo-logo {
    margin-left: 34px;
    border-radius: 10px;
}
.zeo-logo:hover {
    border: 3px solid rgb( 255, 218, 34);
    box-sizing: border-box;
}
#ПРОФЕССИОНАЛЬНЫЕ_НАВЫКИ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
.profesional_div {
    margin-left: 24px;
}
#ЛИЧНЫЕ_КАЧЕСТВА {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
.personal_div {
    margin-left: 24px;
}
#ДОПОЛНИТЕЛЬНАЯ_ИНФОРМАЦИЯ {
    border-top: 5px solid rgb(87, 113, 136);
    margin-bottom: 34px;
}
.infor_div {
    margin-left: 24px;
}
#СОЦИАЛЬНЫЕ_СЕТИ {
    background-color: rgb(87, 113, 136);
}
#СОЦИАЛЬНЫЕ_СЕТИ a {
    padding: 24px 14px;
}
footer {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px 0;
    background-color: rgb(87, 113, 136);
}
footer a img {
    transition: transform 0.3s;
}

footer a:hover img {
    transform: scale(1.1);
}